# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Generated native platform folders (recreated in CI)
android/
ios/
linux/
macos/
windows/
web/

# IDE
.idea/
.vscode/
*.iml

.DS_Store
